/* ==========================================================================
   base styles - taken partly from HTML5 Boilerplate v7.2.0: https://html5boilerplate.com/
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
::-moz-selection {
  background: #7570c8;
  text-shadow: none;
}

::selection {
  background: #7570c8;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
textarea {
  resize: vertical;
}
  
/* ==========================================================================
   layout
   ========================================================================== */

.content-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}
@media(max-width: 767px) {
  .content-wrapper {
    max-width: 80%;
  }
}
.content-wrapper-inner {
  display: flex;
}

/* ==========================================================================
   header
   ========================================================================== */

header {
  background-image: url('../img/banner-image.jpg');
  /* background-image: url('../img/banner-image-2.jpg'); */
  /* background-image: url('https://cdn.pixabay.com/photo/2014/05/03/01/03/macbook-336704_960_720.jpg'); */
  /* background-image: url('https://images.unsplash.com/photo-1521731249732-43207bf4ab63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80'); */
  height: 800px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
header .header-nav {
  flex-basis: 14%;
}
header .header-content {
  flex-basis: 72%;
}
header .header-scroll {
  flex-basis: 14%;
}
header .header-nav .content-wrapper-inner {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
header .header-content .content-wrapper-inner {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-scroll .content-wrapper-inner {
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}
@media(max-width: 767px) {
  header {
    height: 70vh;
  }
  .header-nav .content-wrapper {
    max-width: none;
  }
}

/* ==========================================================================
   main
   ========================================================================== */

main section:nth-child(odd) {
  background-color: #ebecee;
}
main .about-intro .content-wrapper-inner {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
main .about-details .content-wrapper-inner {
  padding: 60px 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main .work .content-wrapper-inner {
  flex-direction: column;
}
main .articles .content-wrapper-inner {
  flex-direction: column;
}
@media(max-width: 767px) {
  main .about-intro .content-wrapper-inner {
    flex-direction: column;
    align-items: center;
  }
  main .about-details .content-wrapper-inner {
    flex-direction: column;
    padding: 20px 0;
  }
}

/* ==========================================================================
   footer
   ========================================================================== */

footer section.social {
  background-color: #161616;
}
footer .social .content-wrapper-inner {
  flex-direction: column;
}
footer .contact .content-wrapper-inner {
  flex-direction: column;
}

/* footer form */
footer .contact .form-container {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding-bottom: 60px;
}
footer .contact .form-container fieldset {
  max-width: none;
}
footer .contact .form-container div > label {
  display: none;
}
footer .contact .form-container fieldset.form-columns-2 input {
  width: 95%;
  padding: 10px 0 10px 15px;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.20);
}
footer .contact .form-container fieldset.form-columns-1 {
  width: 100%;
  margin-top: 20px;
}
footer .contact .form-container fieldset.form-columns-1 input,
footer .contact .form-container fieldset.form-columns-1 textarea {
  width: 100%;
  width: calc(100% - 4px);
  padding: 10px 0 10px 15px;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.20);
  box-sizing: border-box;
}
footer .contact .form-container fieldset.form-columns-1 textarea {
  border-radius: 20px;
}
footer .contact .form-container input:focus,
footer .contact .form-container textarea:focus {
  outline: 0;
}
footer .contact .form-container .hs-error-msgs {
  color: tomato;
}
footer .contact .form-container .hs_submit {
  margin-top: 18px;
}

/* footer copyright */
footer .copyright {
  background-image: linear-gradient(to right, #605bed , #7570c8);
}
footer .copyright .content-wrapper-inner {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .copyright .content-wrapper-inner > div {
  flex-basis: 33.33%;
}
footer .copyright .copyright-text {
  padding: 30px 0 30px 20px;
  text-align: left;
}
footer .copyright .copyright-text p {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
footer .copyright .scroll {
  text-align: center;
}
footer .copyright .links {
  padding: 30px 20px 30px 0;
  text-align: right;
}
footer .copyright .links a {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
footer .copyright .links a:not(:first-child):before {
  content: '|';
  margin: 0 10px;
}

/* ==========================================================================
   block styles
   ========================================================================== */

/* logo block and elements */
.logo {
  margin-left: 20px;
}
.logo__image {
  width: 100px;
}
@media(max-width: 767px) {
  .logo {
    margin-left: 10px;
  }
  .logo__image {
    width: 80px;
  }
}

/* nav block and elements */
.nav {
  margin: 20px 20px 0 0;
}
.nav__item {
  text-transform: uppercase;
  text-decoration: none;
  color: #434446;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin-left: 14px;
}
.nav__mobile-trigger {
  display: none;
}
@media(max-width: 767px) {
  .nav {
    position: relative;
    margin-right: 10px;
  }
  .nav__wrapper {
    position: absolute;
    display: block;
    width: 180px;
    top: 42px;
    right: -195px;
    transition: right .2s ease-out;
    background-color: #ebecee;
    opacity: 0.85;
    border-radius: 5px;
  }
  .nav__item {
    width: auto;
    white-space: nowrap;
    line-height: 2;
  }
  .nav__mobile-trigger {
    display: block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }
}
/* nav modifiers */
.nav__item--first {
  margin-left: 0;
}
@media(max-width: 767px) {
  .nav--open {
    overflow: visible;
  }
  .nav__wrapper--open {
    right: -15px;
  }
}

/* banner-body block and elements */
.banner-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-body__header-text {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin: 0;
}
.banner-body__text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 10px 0;
  max-width: 400px;
  text-align: center;
}
.banner-body__button-container {
  margin-top: 20px;
}
@media(max-width: 767px) {
  .banner-body__header-text {
    font-size: 40px;
  }
  .banner-body__text {
    font-size: 18px
  }
}

/* scroll-arrow block */
.scroll-arrow {
  font-size: 40px;
  color: #605bed;
  padding-bottom: 15px;
}
.scroll-arrow__i {
  pointer-events: none;
}
/* scroll-arrow modifiers */
.scroll-arrow--white {
  color: white;
}

/* section header block and elements */
.section-header {
  display: block;
  padding: 60px 0;
}
.section-header__wrapper {
  max-width: 290px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;   
}
.section-header__text {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 300;   
}
.section-header__header-text {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  margin-top: 8px;
  font-weight: 400;
  text-transform: uppercase;
}
.section-header__header-text:after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-image: linear-gradient(to right, #605bed , #ebecee);
  margin: 12px auto 0;
}
.section-header__strong-text {
  font-weight: 700;
}
@media(max-width: 767px) {
  .section-header {
    padding: 20px 0;
  }
}
/* section header modifiers */
.section-header--half-width {
  flex-basis: 50%;
}
.section-header__wrapper--left {
  text-align: left;
}
.section-header__header-text--left:after {
  margin: 12px 0 0;
}
.section-header__header-text--background-white:after {
  background-image: linear-gradient(to right, #605bed , white);
}
.section-header__text--text-reverse {
  margin-top: 12px;
}
@media(max-width: 767px) {
  .section-header__wrapper--left {
    text-align: center;
  }
  .section-header__header-text--left:after {
    margin: 12px auto 0;
  }
}

/* simple-text block and elements */
.simple-text {
  display: block;
  padding: 60px 20px 60px 0;
}
.simple-text__p {
  margin: 0 0 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
@media(max-width: 767px) {
  .simple-text {
    padding: 20px 0;
    text-align: center;
  }
}
/* simple-text modifiers */
.simple-text--half-width {
  flex-basis: 50%;
}

/* cta block */
.cta {
  padding: 11px 24px;
  border-radius: 50px;
  color: white;
  background-image: linear-gradient(to right, #605bed , #7570c8);
  text-decoration: none;
  width: 135px;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
/* cta modifiers */
.cta--form {
  cursor: pointer;
}
.cta--right {
  margin-left: 15px;
}
@media(max-width: 767px) {
  .cta--right {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
}

/* number box block and elements */
.number-box {
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.number-box__number {
  font-size: 42px;
  font-weight: 700;
}
.number-box__label {
  font-size: 18px;
}
@media(max-width: 767px) {
  .number-box {
    padding: 20px 0;
  }
}

/* samples block and elements */
.samples {
  display: block;
  padding-bottom: 60px;
}
.samples__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.samples__item {
  flex-basis: 30%;
  padding: 10px;
}
.samples__image {
  max-width: 100%;
}
.samples__body {
  padding: 0;
}
.samples__title-text {}
.samples__title-text:after {}
.samples__summary {}
.samples__summary-text {}
.samples__read-more {}
@media(max-width: 767px) {
  .samples__wrapper {
    flex-direction: column;
  }
}
/* samples modifiers */
.samples--writing {
  padding: 0 100px 60px;
}
.samples__item--writing {
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.15);
  padding: 0;
}
.samples__body--writing {
  padding: 15px 30px 18px;
}
.samples__title-text--writing {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
.samples__title-text--writing:after {
  content: '';
  width: 100%;
  display: block;
  height: 1px;
  background-color: #ebecee;
  margin-top: 10px;
}
.samples__summary--writing {
  padding: 10px 0;
}
.samples__summary-text--writing {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.samples__read-more--writing {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
}
@media(max-width: 767px) {
  .samples--writing {
    padding: 0 0 20px;
  }
  .samples__item--writing {
    margin-bottom: 20px;
  }
  .samples__item--writing:last-child {
    margin-bottom: 0;
  }
}

/* social block and elements */
.social {
  display: block;
  padding: 60px 0;
}
.social__wrapper {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.social__item {
  display: inline-block;
}
.social__button {
  width: 50px;
  height: 50px;
  background-color: grey;
  display: flex;
  border-radius: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.social__item:hover .social__button {
  background-color: #7570c8;
}
/* social modifiers */
.social__item:hover .social__button--linkedin {
  background-color: #0977b5;
}
.social__item:hover .social__button--instagram {
  background-color: #e73b59;
}
